.ipynb_checkpoints/
*.pyc
__pycache__/
.env
.env*/
.DS_Store
*.log
# Virtual environments
venv/
.env/
.venv/

*.tsv
*.data
# Jupyter notebook checkpoints
.ipynb_checkpoints/
# VSCode / IDE settings
.vscode/
.idea/

